<a href="https://colab.research.google.com/github/snks169/Heart-Dieases/blob/main/Heart_Dieases.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Importing Dataset from Kaggle

In [2]:
from google.colab import drive
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [3]:
import os
os.environ['KAGGLE_CONFIG_DIR'] = '/content/gdrive/MyDrive/Kaggle'

In [4]:
%cd /content/gdrive/MyDrive/Kaggle

/content/gdrive/MyDrive/Kaggle

In [5]:
!kaggle datasets download -d ronitf/heart-disease-uci

Downloading heart-disease-uci.zip to /content/gdrive/MyDrive/Kaggle
  0% 0.00/3.40k [00:00<?, ?B/s]
100% 3.40k/3.40k [00:00<00:00, 513kB/s]

In [6]:
!unzip \*.zip  && rm *.zip

Archive:  heart-disease-uci.zip
  inflating: heart.csv

# Importing the Depandecies

In [7]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

# Data collection and Processing

In [8]:
# collecting data
heart_data = pd.read_csv('/content/gdrive/MyDrive/Kaggle/heart.csv')

In [9]:
heart_data.head()

   age  sex  cp  trestbps  chol  fbs  ...  exang  oldpeak  slope  ca  thal  target
0   63    1   3       145   233    1  ...      0      2.3      0   0     1       1
1   37    1   2       130   250    0  ...      0      3.5      0   0     2       1
2   41    0   1       130   204    0  ...      0      1.4      2   0     2       1
3   56    1   1       120   236    0  ...      0      0.8      2   0     2       1
4   57    0   0       120   354    0  ...      1      0.6      2   0     2       1

[5 rows x 14 columns]

In [10]:
heart_data.shape

(303, 14)

In [11]:
heart_data.isnull().sum()

age         0
sex         0
cp          0
trestbps    0
chol        0
fbs         0
restecg     0
thalach     0
exang       0
oldpeak     0
slope       0
ca          0
thal        0
target      0
dtype: int64

In [14]:
heart_data['target'].value_counts()

1    165
0    138
Name: target, dtype: int64

In [15]:
heart_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 303 entries, 0 to 302
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       303 non-null    int64
 1   sex       303 non-null    int64
 2   cp        303 non-null    int64
 3   trestbps  303 non-null    int64
 4   chol      303 non-null    int64
 5   fbs       303 non-null    int64
 6   restecg   303 non-null    int64
 7   thalach   303 non-null    int64
 8   exang     303 non-null    int64
 9   oldpeak   303 non-null    float64
 10  slope     303 non-null    int64
 11  ca        303 non-null    int64
 12  thal      303 non-null    int64
 13  target    303 non-null    int64
dtypes: float64(1), int64(13)
memory usage: 33.3 KB

In [16]:
heart_data.describe()

              age         sex          cp  ...          ca        thal      target
count  303.000000  303.000000  303.000000  ...  303.000000  303.000000  303.000000
mean    54.366337    0.683168    0.966997  ...    0.729373    2.313531    0.544554
std      9.082101    0.466011    1.032052  ...    1.022606    0.612277    0.498835
min     29.000000    0.000000    0.000000  ...    0.000000    0.000000    0.000000
25%     47.500000    0.000000    0.000000  ...    0.000000    2.000000    0.000000
50%     55.000000    1.000000    1.000000  ...    0.000000    2.000000    1.000000
75%     61.000000    1.000000    2.000000  ...    1.000000    3.000000    1.000000
max     77.000000    1.000000    3.000000  ...    4.000000    3.000000    1.000000

[8 rows x 14 columns]

In [17]:
heart_data.value_counts()

age  sex  cp  trestbps  chol  fbs  restecg  thalach  exang  oldpeak  slope  ca  thal  target
38   1    2   138       175   0    1        173      0      0.0      2      4   2     1         2
77   1    0   125       304   0    0        162      1      0.0      2      3   2     0         1
51   0    2   130       256   0    0        149      0      0.5      2      0   2     1         1
              140       308   0    0        142      0      1.5      2      1   2     1         1
     1    0   140       261   0    0        186      1      0.0      2      0   2     1         1
                                                                                               ..
59   1    0   138       271   0    0        182      0      0.0      2      0   2     1         1
              140       177   0    1        162      1      0.0      2      1   3     0         1
              164       176   1    0        90       0      1.0      1      2   1     0         1
              170       326   0    0        140      1      3.4      0      0   3     0         1
29   1    1   130       204   0    0        202      0      0.0      2      0   2     1         1
Length: 302, dtype: int64

In [18]:
#SPliting the feature and target
X = heart_data.drop(columns ='target', axis =1)
Y = heart_data['target']

In [19]:
print(X,Y)

     age  sex  cp  trestbps  chol  ...  exang  oldpeak  slope  ca  thal
0     63    1   3       145   233  ...      0      2.3      0   0     1
1     37    1   2       130   250  ...      0      3.5      0   0     2
2     41    0   1       130   204  ...      0      1.4      2   0     2
3     56    1   1       120   236  ...      0      0.8      2   0     2
4     57    0   0       120   354  ...      1      0.6      2   0     2
..   ...  ...  ..       ...   ...  ...    ...      ...    ...  ..   ...
298   57    0   0       140   241  ...      1      0.2      1   0     3
299   45    1   3       110   264  ...      0      1.2      1   0     3
300   68    1   0       144   193  ...      0      3.4      1   2     3
301   57    1   0       130   131  ...      1      1.2      1   1     3
302   57    0   1       130   236  ...      0      0.0      1   1     2

[303 rows x 13 columns] 0      1
1      1
2      1
3      1
4      1
      ..
298    0
299    0
300    0
301    0
302    0
Name: target, Length: 303, dtype: int64

# Spliting the data in training and test data

In [22]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, stratify=Y, random_state=2)

In [25]:
print(X_train.shape ,X_test.shape)

(242, 13) (61, 13)

# Training the model

In [26]:
model  = LogisticRegression()

In [27]:
model.fit(X_train, Y_train)

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

# Model evaluation

In [28]:
# accuracy of training data
Y_train_predicted = model.predict(X_train)
print(accuracy_score(Y_train_predicted,Y_train))

0.8512396694214877

In [29]:
# accuracy on test data
Y_test_predicted = model.predict(X_test)
print(accuracy_score(Y_test_predicted, Y_test))

0.819672131147541

# Building the predictive system

In [38]:
input_data = input("Enter comm seperated values")
input_data = input_data.split(',')
input_data = map(float , input_data)
input_data = np.asarray(list(input_data))
input_data = input_data.reshape(1,-1)
prediction =model.predict(input_data)
if prediction[0] == 0:
  print('Congratulation! You don\'t have heart dieases')
else:
  print('The person have heart dieases')

Enter comm seperated values52,1,2,172,199,1,1,162,0,0.5,2,0,3
The person have heart dieases